<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.keydom.mianren.ih_patient"
    android:versionCode="5"
    android:versionName="1.3.1">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--百度地图权限-->
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>


    <!--获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--配置权限，用来记录应用配置信息 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/BaseThemes"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.get_drug.ZxingActivity" />
        <activity android:name=".activity.logistic.TestPayActivity" />
        <activity android:name=".activity.prescription.ChoosePharmacyActivity" />
        <activity android:name=".activity.logistic.LogisticDetailActivity" />
        <activity android:name=".activity.logistic.QueryLogisticActivity" />
        <activity android:name=".activity.get_drug.GetDrugActivity" />
        <activity android:name=".activity.prescription.PrescriptionGetDetailActivity" /> <!-- <meta-data -->

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="OfoX6Hbo9zEII99ov5lcKsVLCvc1mC1b" />

        <activity
            android:name=".activity.login.LoginActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.keydom.mianren.ih_patient.activity.LoginActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity android:name=".activity.welcome.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <receiver
            android:name=".broadcast.JPushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.keydom.mianren.ih_patient" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.index_main.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="${applicationId}"
                    android:scheme="app" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.login.RegisterActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.function_config.FunctionConfigActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.card_operate.CardoperateActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.location_manage.LocationManageActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.my_medical_card.MyMedicalCardActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.MedicalCardQrActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.my_medical_card.MedicalCardDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.new_card.NewCardActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.upload_certificate_picture.UploadCertificatePictureActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.user_info_operate.UserInfoOperateActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.keydom.mianren.ih_patient.activity.user_info_operate.UserInfoOperateActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.certification.CertificateActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.prescription_check.PrescriptionListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.prescription_check.PrescriptionDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.location_manage.AddLocationActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/protect_transparent" />
        <activity
            android:name=".activity.setting.FeedBackActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.online_diagnoses_search.DiagnoseSearchActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.setting.GestureUnlockActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.global_search.SearchActivity"
            android:launchMode="singleTop" />
        <!--会话界面-->
        <activity
            android:name=".activity.im.ConversationActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="${applicationId}"
                    android:pathPrefix="/from_doctor_conversation"
                    android:scheme="im" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.order_hospital_cure.OrderHospitalCureListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.order_hospital_cure.OrderHospitalCureActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.order_physical_examination.OrderPhysicalExaminationActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.order_physical_examination.PhysicalExaminationDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.order_doctor_register.OrderDoctorRegisterActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.order_doctor_register.ChooseDoctorActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.order_doctor_register.DoctorIndexActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.order_doctor_register.ChooseMedicalCardActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.order_doctor_register.RegisterSearchActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.login.UpdatePasswordActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.order_doctor_register.RegistrationRecordActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.order_doctor_register.RegistrationRecordDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.inspection_report.InspectionReportActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.diagnose_user_manager.ManageUserActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.order_examination.OrderExaminationActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.order_examination.ExaminationDateChooseActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.order_examination.ExaminationOrderCompleteActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.diagnose_user_manager.AddManageUserActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.nursing_order.NursingOrderActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".activity.subscribe_examination_order.SubscribeExaminationActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.nursing_order.ChargeBackOrderActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.nursing_order.WaitForAdmissionActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.my_doctor_or_nurse.MyDoctorOrNurseActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.common_document.CommonDocumentActivity"
            android:launchMode="singleTop" />
        <activity android:name=".activity.my_doctor_or_nurse.DoctorOrNurseDetailActivity">
            <intent-filter>
                <action android:name="com.keydom.mianren.ih_patient.activity.my_doctor_or_nurse.DoctorOrNurseDetailActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.medical_record.OutpatientRecordActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.medical_record.MedicalRecordDetailActivity"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.nursing_order.SentListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.my_chat_group.ChatGoupActivity"
            android:launchMode="singleTop" />
        <!--视频通话-->
        <activity
            android:name="com.keydom.ih_common.im.activity.CommonVideoCallActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="com.ih_common.intent.action.video.doctor" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.im.PatientTeamChatActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="${applicationId}"
                    android:pathPrefix="/from_doctor_team"
                    android:scheme="im" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.diagnose_user_manager.AnamnesisActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!-- 微信支付 -->
        <activity
            android:name=".utils.pay.weixin.WXCallbackActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity-alias
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:targetActivity=".utils.pay.weixin.WXCallbackActivity" />

        <activity
            android:name=".utils.pay.weixin.WXPayCallbackActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity=".utils.pay.weixin.WXPayCallbackActivity" />

        <!-- 支付宝支付 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name=".activity.my_message.MyMessageActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.setting.SettingActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.my_message.NoticeDeatailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.inspection_report.BodyCheckDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.inspection_report.InspectionDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.nursing_service.NursingChooseHospitalActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.nursing_service.NursingActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.nursing_service.NursingOrderFillInActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.nursing_service.ChooseNursingServiceActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.nursing_service.NursingApplyOrderActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.nursing_service.NursingProjectDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.order_evaluate.OrderEvaluateActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.nursing_service.FacialRecognitionActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.nursing_service.NursingChoosePatientActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.payment_records.PaymentRecordActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.payment_records.PaymentDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.payment_records.PaymentSuccessActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.online_diagnoses_order.OnlineDiagnonsesOrderActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".activity.online_diagnoses_order.DianoseCaseDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.nursing_service.FaceDetectExpActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.index_main.ChooseCityActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.nursing_service.NursingOnlineConsultActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".activity.apply_for_order_detail.CheckOrderDetailActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".activity.apply_for_order_detail.TransferTreatmentOrderDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.online_diagnoses_order.DiagnosesApplyActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.AgreementActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.online_diagnoses_order.ChoosePatientActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".activity.member.SignMemberActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".activity.member.ChargeMemberActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activity.member.ChargeMemberRecordActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".activity.diagnose_main.DiagnoseMainActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.nurse_main.NurseMainActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.member.MemberDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.pregnancy.PregnancyActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.pregnancy.PregnancyReverseActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.health_card.HealthCardDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.pregnancy.ChooseInspectItemActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.pregnancy.PregnancyOrderDetailActivity"
            android:launchMode="singleTop" />
        <activity android:name=".activity.reserve_painless_delivery.ReservePainlessDeliveryActivity" />
        <activity
            android:name=".activity.reserve_obstetric_hospital.ReserveObstetricHospitalActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".activity.reserve_painless_delivery.PainlessDeliveryListActivity" />
        <activity android:name=".activity.reserve_obstetric_hospital.ObstetricHospitalListActivity" />
        <activity android:name=".activity.postpartum_rehabilitation.RehabilitationRecordActivity" />
        <activity android:name=".activity.hospital_payment.HospitalPaymentActivity" />
        <activity android:name=".activity.medical_mail.MedicalMailListActivity" />
        <activity android:name=".activity.child_health.ChildHealthActivity" />
        <activity android:name=".activity.child_health.ChildHealthDetailActivity" />
        <activity android:name=".activity.pregnant_woman.PregnantWomanActivity" />
        <activity android:name=".activity.medical_mail.MedicalMailActivity" />
        <activity android:name=".activity.health_manager.HealthManagerOpenActivity" />
        <activity android:name=".activity.reserve_examination.ExaminationReserveListActivity" />
        <activity android:name=".activity.reserve_examination.ExaminationReserveActivity" />
        <activity android:name=".activity.order_doctor_register.RegistrationReserveActivity" />
        <activity android:name=".activity.diagnose_user_manager.ManageUserSelectActivity" />
        <activity android:name=".activity.inspection_report.ObstetricMedicalActivity" />
        <activity android:name=".activity.reserve_amniocentesis.AmniocentesisReserveActivity" />
        <activity
            android:name=".activity.reserve_amniocentesis.AmniocentesisRecordActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.reserve_amniocentesis.AmniocentesisDetailActivity" />
        <!--百度地图-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!--QQ登录-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101544116" />
                <!--把XXXXXXXX换成AppID，千万不要把前面几个字母tencent去掉-->
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.order_triage.TriageOrderDetailActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.webview.WebActivity" />
        <activity android:name=".activity.medical_record.MedicalRecordActivity" />
        <activity android:name=".activity.hospital_payment.HospitalCheckListActivity" />
        <activity android:name=".activity.pregnancy.PregnancyRecordActivity" />
        <activity android:name=".activity.pregnancy.PregnancyRecordDetailActivity" />
        <activity android:name=".activity.prescription_check.PrescriptionRecordActivity" />
        <activity android:name=".activity.card_operate.ElectronicCardActivity" />
        <activity android:name=".activity.card_operate.ElectronicCardDetailActivity" />
        <activity android:name=".activity.child_health.ChildHealthProjectActivity" />
        <activity android:name=".activity.child_health.ChildHealthHistoryActivity" />
        <activity android:name=".activity.online_diagnoses_order.PatientMainSuitActivity" />
        <activity android:name=".activity.health_manager.HealthManagerActivity" />
        <activity android:name=".activity.health_manager.HealthArchivesActivity" />
        <activity android:name=".activity.health_manager.HealthArchivesBaseActivity" />
        <activity android:name=".activity.health_manager.HealthContactActivity" />
        <activity android:name=".activity.health_manager.HealthMedicalHistoryActivity" />
        <activity android:name=".activity.health_manager.HealthAddSurgeryActivity" />
        <activity android:name=".activity.health_manager.HealthSurgeryListActivity" />
        <activity android:name=".activity.health_manager.ChronicDiseaseMainActivity" />
        <activity android:name=".activity.health_manager.LifestyleMainActivity" />
        <activity android:name=".activity.health_manager.LifestyleDataActivity" />
        <activity android:name=".activity.health_manager.InterventionPlanActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.keydom.mianren.ih_patient.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>


</manifest>