<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.keydom.mianren.ih_doctor"
    android:versionCode="40"
    android:versionName="4.9">

    <uses-permission android:name="android.permission.READ_LOGS" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!--获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!--允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!--配置权限，用来记录应用配置信息 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/BaseThemes"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="UyIrf0i4UNvGT3wZHP6UDpKKhdiWs2S8" />
        <receiver
            android:name="com.keydom.mianren.ih_doctor.push.JPushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.keydom.mianren.ih_doctor" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/WelcomeStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.im.ConversationActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="${applicationId}"
                    android:pathPrefix="/from_patient_conversation"
                    android:scheme="im" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.im.DoctorTeamChatActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="${applicationId}"
                    android:pathPrefix="/from_doctor_team"
                    android:scheme="im" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="com.keydom.mianren.ih_doctor.activity.LoginActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity android:name=".activity.SetPasswordActivity"/>
        <activity android:name=".activity.UpdatePasswordActivity"/>
        <activity
            android:name=".activity.AgreementActivity"
            android:launchMode="standard"/>
        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".activity.personal.ArticleListActivity"/>
        <activity android:name=".activity.personal.MyVisitingCardActivity"/>
        <activity android:name=".activity.IssueArticleActivity"/>
        <activity
            android:name=".activity.personal.MyAttentionActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".activity.personal.MyEvaluationActivity"/>
        <activity android:name=".activity.personal.MyServiceActivity"/>
        <activity android:name=".activity.prescription_check.PrescriptionCheckActivity"/>
        <activity android:name=".activity.prescription_check.PrescriptionActivity"/>
        <activity android:name=".activity.prescription_check.DiagnosePrescriptionActivity"/>
        <activity android:name=".activity.consulting_arrange.ConsultingArrangeActivity"/>
        <activity android:name=".activity.consulting_arrange.ConsultingChangeActivity"/>
        <activity android:name=".activity.consulting_arrange.ArrangeCircleActivity"/>
        <activity android:name=".activity.issue_information.NotificationListActivity"/>
        <activity android:name=".activity.issue_information.IssueNotificationActivity"/>
        <activity android:name=".activity.doctor_cooperation.DoctorCooperationActivity"/>
        <activity android:name=".activity.doctor_cooperation.UpdateGroupInfoActivity"/>
        <activity android:name=".activity.doctor_cooperation.GroupMemberActivity"/>
        <activity
            android:name=".activity.doctor_cooperation.DiagnoseRecoderActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".activity.doctor_cooperation.SelectDoctorActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".activity.doctor_cooperation.DianoseCaseDetailActivity"/>
        <activity
            android:name=".activity.doctor_cooperation.DiagnoseCommonActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.doctor_cooperation.FillOutApplyActivity"/>
        <activity android:name=".activity.doctor_cooperation.DiagnoseOrderDetailActivity"/>
        <activity android:name=".activity.online_diagnose.DiagnoseOrderSelectActivity"/>
        <activity android:name=".activity.personal.FeedBackActivity"/>
        <activity android:name=".activity.personal.MyIncomeActivity"/>
        <activity android:name=".activity.personal.MyRealNameCertifyActivity"/>
        <activity android:name=".activity.personal.PersonalInfoActivity"/>
        <activity android:name=".activity.personal.SettingActivity"/>
        <activity android:name=".activity.CommonInputActivity"/>
        <activity
            android:name=".activity.nurse_service.NurseServiceOrderListActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".activity.nurse_service.HeadNurseServiceOrderDetailActivity"/>
        <activity android:name=".activity.nurse_service.CommonNurseServiceWorkingOrderDetailActivity"/>
        <activity android:name=".activity.nurse_service.CommonNurseServiceOrderDetailActivity"/>
        <activity android:name=".activity.nurse_service.FinishNurseServiceActivity"/>
        <activity android:name=".activity.nurse_service.SelectNurseActivity"/>
        <activity android:name=".activity.nurse_service.ChooseNursingServiceActivity"/>
        <activity android:name=".activity.nurse_service.MaterialChooseActivity"/>
        <activity android:name=".activity.nurse_service.MaterialUseActivity"/>
        <activity
            android:name=".activity.SearchActivity"
            android:launchMode="standard"/>
        <activity android:name=".activity.online_diagnose.DiagnoseOrderListActivity"/>
        <activity android:name=".activity.online_diagnose.ApplyForCheckActivity"/>
        <activity android:name=".activity.online_diagnose.CheckOrderDetailActivity"/>
        <activity android:name=".activity.online_diagnose.DiagnosePatientInfoActivity"/>
        <activity android:name=".activity.online_diagnose.DiagnoseCheckSelectItemActivity"/>
        <activity android:name=".activity.online_diagnose.DiagnoseInputActivity"/>
        <activity android:name=".activity.online_diagnose.DiagnoseHandleProposalActivity"/>
        <activity android:name=".activity.online_diagnose.DrugChooseActivity"/>
        <activity android:name=".activity.online_diagnose.DrugUseActivity"/>
        <activity android:name=".activity.medical_record_templet.MedicalRecordTempletActivity"/>
        <activity android:name=".activity.medical_record_templet.MedicalTempletDetailActivity"/>
        <activity android:name=".activity.patient_main_suit.PatientMainSuitActivity"/>
        <activity android:name=".activity.online_diagnose.PrescriptionTempletActivity" />
        <activity android:name=".activity.online_diagnose.PrescriptionTempletDetailActivity" />
        <activity android:name=".activity.inspection_report.BodyCheckDetailActivity" />
        <activity android:name=".activity.inspection_report.InspectionDetailActivity" />
        <activity android:name=".activity.online_diagnose.ChooseInspectItemActivity" />
        <activity android:name=".activity.online_diagnose.ReportListActivity" />
        <activity android:name=".activity.my_doctor_or_nurse.DoctorOrNurseDetailActivity">
            <intent-filter>
                <action android:name="com.keydom.mianren.ih_doctor.DoctorOrNurseDetailActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.patient_manage.PatientDatumActivity">
            <intent-filter>
                <action android:name="com.keydom.mianren.ih_doctor.PatientDatumActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.patient_manage.NewGroupChatActivity" />
        <activity android:name=".activity.patient_manage.ChoosePatientActivity" />
        <activity android:name=".activity.patient_manage.TentativeDiagnosisActivity" />
        <!--视频通话-->
        <activity
            android:name="com.keydom.ih_common.im.activity.CommonVideoCallActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="com.ih_common.intent.action.video.user" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.electronic_signature.ApplySignatureActivity" />
        <activity android:name=".activity.electronic_signature.ActivateSignatureActivity" />
        <activity android:name=".activity.electronic_signature.ChangeSignatureActivity" />
        <activity android:name=".activity.electronic_signature.SignatureActivity" />
        <activity
            android:name="cn.org.bjca.signet.component.core.activity.SignetCoreApiActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent"/>
        <activity
            android:name="cn.org.bjca.livecheckplugin.ui.LiveActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="cn.org.bjca.signet.component.ocr.activity.CaptureIdCardActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity
            android:name="cn.org.bjca.signet.component.qr.activity.QRScanActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity
            android:name="cn.org.bjca.signet.component.seal.activity.SignetSealApiActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity
            android:name="cn.org.bjca.signet.component.seal.activity.CaptureSignActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>

        <activity
            android:name=".activity.my_message.MyMessageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.my_message.NoticeDeatailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.patient_manage.WarrantListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.common_document.CommonDocumentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.online_triage.TriageOrderDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.health_manager.HealthManagerActivity" />
        <activity android:name=".activity.health_manager.PatientInfoActivity" />
        <activity android:name=".activity.online_triage.TriageOrderApplyActivity" />
        <activity android:name=".activity.online_triage.TriageOrderListActivity" />
        <activity android:name=".activity.online_consultation.ConsultationApplyActivity" />
        <activity android:name=".activity.online_consultation.ConsultationReceiveActivity" />
        <activity android:name=".activity.online_consultation.ConsultationOrderActivity" />
        <activity android:name=".activity.online_consultation.ConsultationRoomActivity" />

    </application>

</manifest>